.catagoryText {
    width: 100%;
}

.link {
    color: black;
    padding: 20px;
}

.link:hover {
    color: rgb(25, 3, 194);
    background-color: white;
}

.posts-container {
    margin-top: 100px;
    height: calc(100vh - 300px);
    margin-bottom: 150px;
    border: 0px solid black;
    overflow-y: scroll;
    width: 100%;
}

.postsCard {
    display: flex;
    justify-content: space-between;
}

.favoriteBtn {
    padding: 5px 25px;
    font-size: 25px;
    border-radius: 5px;
}

.favoriteBtn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border: 2px solid white;
}

